name: Check PR

on: [pull_request]

jobs:
  run-ci:
    name: Run Type Check & Linters
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Check types
        run: npm run type-check

      - name: Check linting
        run: npm run lint

      - name: Build
        run: npm run build
